body {
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	letter-spacing: 0.02em;
	
}
img {
	display: block;
	height: auto;
	min-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
a, ul, form, input, textarea, button, .baner-basement {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	letter-spacing: 0.02em;
	color: currentColor;
}
a, button {
	font-family: inherit;
}
ul {
	list-style-type: none;
}
.visually-hidden
{
		position: absolute;
		white-space: nowrap;
		width: 1px;
		height: 1px;
		overflow: hidden;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		clip-path: inset(100%);
		margin: -1px;
}

/* header */







/* Effective Solutions for Your Business */
.section {
	/* padding: 120px 0; */
}









/* Our advantages */







/* Our Team */
.




/* Our Portfolio */






/* footer */


/* Popap */


/* MEDIA */
@media only screen and (min-width: 768px) and (max-width: 1157px) {

	/* HEADER */


	/* Effective Solutions for Your Business */
	.effective-solutions {
		font-size: 56px;
		line-height: 1.07;
		width: 496px;
		margin: 0 auto 36px;
		padding-top: 16px;
	}

	.container-menu {
		margin: 0;
	}

	.container {
		width: 768px;
		padding-top: 112px;
		padding-bottom: 112px;
	}

	/* Our advantages */
	.container-general {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.chapter,
	.portfolio-block,
	.basement-main {
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 72px;
	}

	.advantages-item,
	.team-item,
	.portfolio-item,
	.basement-main-part {
		flex-basis: calc((100% - 24px) / 2);
	}

	.advantages-item {
		text-align: left;
	}

	/* Our Team */
	.team-block {
		row-gap: 64px;
	}

	/* Our Portfolio */
	.portfolio-bold-three {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;

	}

	.portfolio-text {
		font-weight: 400;
	}

	/* FOOTER */
	.basement-main {
		justify-content: flex-start;
		padding-left: 108px;
		padding-right: 108px;
	}

	.basement-text {
		margin: 0;
	}

	.basement-main-part {
		align-items: flex-start;
	}

	.basement-main-social {
		align-self: flex-start;
	}

	.subscribe-form-one {
		flex-direction: row;
		flex-wrap: nowrap;
		align-self: flex-start;
		gap: 24px;
	}

	

	

}